html { width:100%; background-color:#124; }
body { background-color:#124; color:#fff; margin:0; padding:0; font-family:sans-serif; min-height:100%; width:100%; }

* html,* html body { overflow:hidden; }

#content-6 { position:absolute; top:1em; bottom:1em; left:0; right:0; width:100%; }
#content-1,#content-2,#content-3,#content-4,#content-5,#content-7 { min-height:100%; margin:0; padding:0; }
#content-8 { margin:0 200px; min-height:100%; padding:0; }
body.forum #content-8 { margin-right:1em; }
#content-9 { min-height:100%; margin:0 2.4em; padding:0; background-color:#457; border:.2em solid #679; position:relative; z-index:500; }
#content-10 { padding:1em; }
* html #content-5 { height:100%; width:100%; overflow:auto; margin:0; position:absolute; top:0; left:0; }

h1 { position:fixed; bottom:0; left:.5em; font-variant:small-caps; font-family:Georgia,serif; z-index:600; }
* html h1 { position:absolute; bottom:.5em; }

#navigation { border:.2em solid #679; list-style-type:none; text-align:center; padding:4px 7px; margin:0; width:186px; position:absolute; left:1em; top:0; z-index:10000; background-color:#457; background-image:url(images/hintergrund.jpg); background-repeat:no-repeat; }
* html #navigation { width:200px; }
#navigation li a { text-decoration:none; font-weight:bold; color:#000; font-variant:small-caps; font-family:Georgia,serif; display:block; padding:0 .3em; margin:.2em; border:.067em solid #000; background-image:url(images/halb2.png); font-size:1.5em; line-height:1.9em; }
#navigation li a:hover,#navigation li a:focus { background-color:#679; }
* html #navigation a { filter:Alpha(opacity=50,style=0); width:99%; }
* html #navigation a:hover,* html #navigation a:focus { filter:none; background-color:#ACAEC5; background-image:none; }

#login-form { position:absolute; margin:0; top:0; right:1em; width:186px; border:.2em solid #679; padding:4px 7px; background-color:#457; z-index:11000; color:#000; }
* html #login-form { width:200px; }
#login-form fieldset { border-style:none; padding:.5em; margin:0; text-align:center; }
#login-form legend { color:#fff; font-size:1.5em; text-align:center; font-family:Georgia,serif; font-variant:small-caps; margin:0 auto; padding:0; display:block; }
#login-form dl { margin:0; padding:0; }
#login-form dd { display:block; margin:0; padding:0; }
#login-form dt { display:block; font-weight:bold; padding:.567em; width:auto; font-size:1.5em; font-family:Georgia,serif; font-variant:small-caps; margin:0 0 -2em 0; float:none; clear:none; }
#login-form dt:after { content:""; }
#login-form dt.c-runde { display:none; }
#login-form input { width:100%; background-color:transparent; background-image:url(images/halb2.png); border:.067em solid #000; padding:.1em .2em; font-size:1.5em; margin:0 -.18em; font-family:Georgia,serif; line-height:1.3em; height:1.6em }
#login-form input:hover,#login-form input:focus { background-color:#679; }
#login-form button,#login-form a { border:.067em solid #000; width:100%; text-align:center; background-image:url(images/halb2.png); background-color:transparent; font-weight:bold; font-size:1.5em; font-variant:small-caps; font-family:Georgia,serif; display:block; padding:.3em .2em; margin:.2em -.18em; color:#000; text-decoration:none; line-height:1.3em; cursor:pointer; }
* html #login-form button { padding:.1em 0; }
#login-form button:hover,#login-form button:focus,#login-form a:hover,#login-form a:focus { background-color:#679; }
* html #login-form input,* html #login-form button,* html #login-form a { filter:Alpha(opacity=50,style=0); width:99%; }
* html #login-form input:hover,* html #login-form input:focus,* html #login-form button:hover,* html #login-form button:focus,* html #login-form a:hover,* html #login-form a:focus { filter:none; background-color:#ACAEC5; background-image:none; }

form { margin:1em; }
form dl { margin:1em; padding:0; }
form dt { display:block; margin:0; padding:0; float:left; width:40%; clear:left; }
form dt:after { content:":\a0"; }
form dd { display:block; margin:0 0 0 40%; padding:0; }
form ul { margin:0; padding:0; list-style-type:none; text-align:center; }
input,textarea { border:.1em solid #000; margin:.1em; background-image:url(images/halb2.png); background-color:transparent; width:100%; padding:.1em .2em; }
input:hover,input:focus,textarea:hover,textarea:focus { background-color:#679; }
input[type=checkbox],input[type=radio],textarea { width:auto; }
fieldset { border:.1em solid #679; }
legend { font-weight:bold; }
button { border:.1em solid #000; background-color:transparent; background-image:url(images/halb2.png); }
button:hover,button:focus { background-color:#679; }
input,button { filter:Alpha(opacity=50,style=0); width:25ex; }
button { width:75%; margin:.2em; }

h2 { font-size:2em; font-family:Georgia,serif; font-variant:small-caps; text-align:center; border-bottom:.1em solid #679; margin:0 5%; font-weight:bold; }
h3 { font-size:1.5em; font-family:Georgia,serif; font-variant:small-caps; text-align:left; text-decoration:underline; font-weight:bold; }
h4 { font-size:1.2em; font-family:Georgia,serif; font-weight:bold; text-decoration:underline; }

abbr,acronym { border-style:none; text-decoration:none; font-variant:inherit; }
img { border-style:none; }

#question-list { list-style-type:disc; }

a { color:#fff; font-variant:small-caps; text-decoration:underline; }
a:hover,a:focus { color:#fff; text-decoration:underline; border-bottom:.1em solid #fff; }
a:visited { color:#aaa; }
a:visited:hover,a:visited:focus { color:#aaa; border-bottom:.1em solid #aaa; }

p { text-align:justify; }

.error { font-size:1.2em; color:#f00; font-weight:bold; border:.2em solid #800; padding:.5em; text-align:center; }
.successful { font-size:1.2em; color:#0f0; font-weight:bold; border:.2em solid #008; padding:.5em; text-align:center; }

.news { position:relative; border:.1em solid #679; margin-top:1em; padding:.5em; }
* html .news { width:100%; }
.news h3 { padding:0; margin:0; background-color:#457; position:relative; z-index:500; display:inline; }
.news h3 .author { font-size:0.666667em; text-decoration:none; font-weight:normal; }
.news .time { position:absolute; top:.5em; right:.5em; z-index:400; }