* { margin:0; padding:0; }

html { background-image:url(images/background.png); background-color:#4e4e4e; color:#bbb; font-size:12px; font-family:sans-serif; }
body { min-height:100%; width:100%; }
#main-container { padding-left:205px; }

#logo { display:none; }

#navigation { position:fixed; top:100px; left:50px; }
#navigation { width:155px; padding-top:30px; overflow:hidden; background-image:url(images/navigation_top.png); background-repeat:no-repeat; }
#navigation2 { width:155px; padding-bottom:22px; overflow:hidden; background-image:url(images/navigation_bottom.png); background-position:center bottom; background-repeat:no-repeat; }
#navigation-inner { width:155px; margin:0; padding:0; background-image:url(images/navigation_body.png); list-style-type:none; background-color:#35363B; }
#navigation a { display:block; background-image:url(images/navigation_button.png); background-repeat:no-repeat; background-color:#17161B; height:18px; line-height:18px; vertical-align:middle; width:123px; text-align:center; padding:4px 16px; text-decoration:none; color:#919193; }
* html #navigation a { width:155px; }
#navigation a:hover,#navigation a:focus { color:#b1b1b3; }
#navigation a:active { background-image:url(images/navigation_button_down.png); }
#navigation li.c-adminbereich,#navigation li.c-browsergames24 { margin-top:1em; }

#content { padding:20px 0; }
#content2-0 { background-image:url(images/content_top_scale.png); background-repeat:repeat-x; margin:20px 50px; }
#content2-1 { background-image:url(images/content_top_centre.png); background-repeat:no-repeat; background-position:top center; }
#content2-2 { background-image:url(images/content_top_left.png); background-repeat:no-repeat; }
#content2-3 { background-image:url(images/content_top_right.png); background-repeat:no-repeat; background-position:top right; padding-top:111px; }

#content3-0 { background-image:url(images/content_bottom_scale.png); background-repeat:repeat-x; background-position:bottom left; }
#content3-1 { background-image:url(images/content_bottom_centre.png); background-repeat:no-repeat; background-position:bottom center; }
#content3-2 { background-image:url(images/content_bottom_left.png); background-repeat:no-repeat; background-position:bottom left; }
#content3-3 { background-image:url(images/content_bottom_right.png); background-repeat:no-repeat; background-position:bottom right; padding-bottom:77px; }

#content4-1 { background-image:url(images/content_body_scale.png); background-position:top center; background-color:#35363B; }
#content4-2 { background-image:url(images/content_body_left.png); background-repeat:repeat-y; }
#content4-3 { background-image:url(images/content_body_right.png); background-repeat:repeat-y; background-position:top right; }

#innercontent1-1 { background-image:url(images/content_inner_top_scale.png); background-repeat:repeat-x; background-color:#292831; }
#innercontent1-2 { background-image:url(images/content_inner_top_left.png); background-repeat:no-repeat; }
#innercontent1-3 { background-image:url(images/content_inner_top_right.png); background-repeat:no-repeat; background-position:top right; padding-top:26px; }

#innercontent2-1 { background-color:#292831; background-image:url(images/content_inner_body_left.png); background-repeat:repeat-y; }
#innercontent2-2 { background-image:url(images/content_inner_body_right.png); background-position:top right; background-repeat:repeat-y; padding:0 80px; }

* html,* html body { overflow:hidden; }
* html #navigation { position:absolute; z-index:2000; }
* html #content { position:absolute; top:0; left:0; width:100%; height:100%; overflow:auto; padding-left:205px; z-index:1000; }


#login-form { text-align:center; }
#login-form fieldset { border-style:none; padding:0; }
#login-form legend { display:none; }
#login-form dt { display:none; }
#login-form dd,#login-form li,#login-form div,#login-form dl { display:inline; margin:0; }
#login-form input,#login-form button,#login-form select { width:90px; display:inline; color:#919193; }
#login-form input:hover,#login-form input:focus,#login-form button:hover,#login-form button:focus,#login-form select:hover,#login-form select:focus { color:#b1b1b3; }
#login-form ul { list-style-type:none; margin:0; padding:0; }
#login-form a { color:#888; }
#login-form a:hover,#login-form a:focus { color:#aaa; }

* html #login-form ul { margin-top:6px; }


input,select,textarea { padding:0 2px; height:20px; line-height:20px; background-image:url(images/input_background.png); border:1px solid #000; width:12.5em; font-weight:bold; background-color:#212025; vertical-align:middle; color:#bbb; }
button,input.button { padding:0 2px; height:20px; line-height:20px; background-image:url(images/button_background.png); border:1px solid #000; width:12.5em; font-weight:bold; background-color:#212025; vertical-align:middle; color:#bbb; }
button:active,input.button:active { background-image:url(images/input_background.png); }
select { cursor:s-resize; }
button,input.button { cursor:pointer; }
option,input.radio,input.checkbox { cursor:crosshair; width:auto; }

h2 { text-align:center; background-image:url(images/separator.png); background-repeat:no-repeat; background-position:center bottom; margin-bottom:1em; padding:.2em; }
h3,h4,h5,h6 { padding-top:1em; margin-top:1em; margin-bottom:.5em; text-align:right; background-image:url(images/separator.png); background-repeat:no-repeat; background-position:center top; }
p { padding:.5em 0; text-align:justify; }
hr { background-image:url(images/separator.png); background-repeat:no-repeat; background-position:center center; height:1px; border-style:none; padding:0; }
ul,ol { padding:1.5em 0 1.5em 3em; }
abbr,acronym { border-style:none; font-variant:normal; text-decoration:none; }
a { font-weight:bold; color:#aaa; }
a:hover,a:focus { color:#ccc; }

dt { display:block; float:left; font-weight:bold; clear:left; }
dt:after { content:":\a0"; }
dd { margin-left:2em; }
form dt { width:50%; margin:.3em 0; font-weight:normal; }
form dd { margin:.3em 0; }
form ul,form div { clear:left; list-style-type:none; margin:0; padding:.5em; text-align:center; }
legend { font-weight:bold; padding:0 .2em; }

fieldset { border:1px solid #777; padding:.5em; }


.screenshots { list-style-type:none; text-align:center; }
.screenshots li { display:inline; }
.screenshots img { border:1px solid #aaa; }

#chat-applet { width:100%; height:30em; }

.news { position:relative; }
.news .time { font-size:.8em; position:absolute; bottom:0; right:0; }
* html .news .time { display:none; }

.error { text-align:center; font-weight:bold; color:#f00; }
.successful { text-align:center; font-weight:bold; color:#47f; }