#planets { padding:0 0 250px 0 !important; }
* html #planets { padding:0 !important; }

body {  background-position:left bottom; background-repeat:no-repeat; background-attachment:fixed; }
body.planet-1 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet01.png); }
body.planet-2 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet02.png); }
body.planet-3 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet03.png); }
body.planet-4 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet04.png); }
body.planet-5 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet05.png); }
body.planet-6 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet06.png); }
body.planet-7 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet07.png); }
body.planet-8 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet08.png); }
body.planet-9 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet09.png); }
body.planet-10 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet10.png); }
body.planet-11 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet11.png); }
body.planet-12 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet12.png); }
body.planet-13 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet13.png); }
body.planet-14 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet14.png); }
body.planet-15 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet15.png); }
body.planet-16 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet16.png); }
body.planet-17 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet17.png); }
body.planet-18 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet18.png); }
body.planet-19 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet19.png); }
body.planet-20 { background-image:url(grey_graphics/images/image.php?planets_alpha%2fplanet20.png); }

#planets li { background-repeat:no-repeat; background-position:right center; min-height:50px; padding:0 1ex; }
#planets .planet-1 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet01.gif); }
#planets .planet-2 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet02.gif); }
#planets .planet-3 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet03.gif); }
#planets .planet-4 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet04.gif); }
#planets .planet-5 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet05.gif); }
#planets .planet-6 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet06.gif); }
#planets .planet-7 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet07.gif); }
#planets .planet-8 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet08.gif); }
#planets .planet-9 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet09.gif); }
#planets .planet-10 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet10.gif); }
#planets .planet-11 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet11.gif); }
#planets .planet-12 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet12.gif); }
#planets .planet-13 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet13.gif); }
#planets .planet-14 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet14.gif); }
#planets .planet-15 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet15.gif); }
#planets .planet-16 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet16.gif); }
#planets .planet-17 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet17.gif); }
#planets .planet-18 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet18.gif); }
#planets .planet-19 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet19.gif); }
#planets .planet-20 { background-image:url(grey_graphics/images/image.php?planets_small%2fplanet20.gif); }

#planets .active,#spionage-planet dl { background-repeat:no-repeat; background-position:center top; padding:250px 0 0 0 !important; }
.planet-1 #planets .active,#spionage-planet dl.planet_1 { background-image:url(grey_graphics/images/image.php?planets%2fplanet01.png); }
.planet-2 #planets .active,#spionage-planet dl.planet_2 { background-image:url(grey_graphics/images/image.php?planets%2fplanet02.png); }
.planet-3 #planets .active,#spionage-planet dl.planet_3 { background-image:url(grey_graphics/images/image.php?planets%2fplanet03.png); }
.planet-4 #planets .active,#spionage-planet dl.planet_4 { background-image:url(grey_graphics/images/image.php?planets%2fplanet04.png); }
.planet-5 #planets .active,#spionage-planet dl.planet_5 { background-image:url(grey_graphics/images/image.php?planets%2fplanet05.png); }
.planet-6 #planets .active,#spionage-planet dl.planet_6 { background-image:url(grey_graphics/images/image.php?planets%2fplanet06.png); }
.planet-7 #planets .active,#spionage-planet dl.planet_7 { background-image:url(grey_graphics/images/image.php?planets%2fplanet07.png); }
.planet-8 #planets .active,#spionage-planet dl.planet_8 { background-image:url(grey_graphics/images/image.php?planets%2fplanet08.png); }
.planet-9 #planets .active,#spionage-planet dl.planet_9 { background-image:url(grey_graphics/images/image.php?planets%2fplanet09.png); }
.planet-10 #planets .active,#spionage-planet dl.planet_10 { background-image:url(grey_graphics/images/image.php?planets%2fplanet10.png); }
.planet-11 #planets .active,#spionage-planet dl.planet_11 { background-image:url(grey_graphics/images/image.php?planets%2fplanet11.png); }
.planet-12 #planets .active,#spionage-planet dl.planet_12 { background-image:url(grey_graphics/images/image.php?planets%2fplanet12.png); }
.planet-13 #planets .active,#spionage-planet dl.planet_13 { background-image:url(grey_graphics/images/image.php?planets%2fplanet13.png); }
.planet-14 #planets .active,#spionage-planet dl.planet_14 { background-image:url(grey_graphics/images/image.php?planets%2fplanet14.png); }
.planet-15 #planets .active,#spionage-planet dl.planet_15 { background-image:url(grey_graphics/images/image.php?planets%2fplanet15.png); }
.planet-16 #planets .active,#spionage-planet dl.planet_16 { background-image:url(grey_graphics/images/image.php?planets%2fplanet16.png); }
.planet-17 #planets .active,#spionage-planet dl.planet_17 { background-image:url(grey_graphics/images/image.php?planets%2fplanet17.png); }
.planet-18 #planets .active,#spionage-planet dl.planet_18 { background-image:url(grey_graphics/images/image.php?planets%2fplanet18.png); }
.planet-19 #planets .active,#spionage-planet dl.planet_19 { background-image:url(grey_graphics/images/image.php?planets%2fplanet19.png); }
.planet-20 #planets .active,#spionage-planet dl.planet_20 { background-image:url(grey_graphics/images/image.php?planets%2fplanet20.png); }

#ress dt { padding-left:21px !important; background-repeat:no-repeat; background-position:2px 50%; }
#ress dt.ress-carbon { background-image:url(grey_graphics/images/image.php?resources%2fcarbon.png); }
#ress dt.ress-aluminium { background-image:url(grey_graphics/images/image.php?resources%2faluminium.png); }
#ress dt.ress-wolfram { background-image:url(grey_graphics/images/image.php?resources%2fwolfram.png); }
#ress dt.ress-radium { background-image:url(grey_graphics/images/image.php?resources%2fradium.png); }
#ress dt.ress-tritium { background-image:url(grey_graphics/images/image.php?resources%2ftritium.png); }
#ress dt.ress-energie { background-image:url(grey_graphics/images/image.php?resources%2fenergie.png); }

* html .unbeschaeftigte-planeten .c-voriger a,* html .unbeschaeftigte-planeten .c-naechster a { width:45px; padding:0 0 0 45px; margin:0 .5ex; overflow:hidden; background-image:url(grey_graphics/images/image.php?fastbuild.gif); background-repeat:no-repeat; background-position:left center; }

.c-planet { background-repeat:no-repeat; background-position:left center; text-align:right; padding-left:.3em; padding-right:.3em; }
.planet_1 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet01.png); }
* html .planet_1 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet01.gif); }
.planet_2 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet02.png); }
* html .planet_2 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet02.gif); }
.planet_3 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet03.png); }
* html .planet_3 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet03.gif); }
.planet_4 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet04.png); }
* html .planet_4 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet04.gif); }
.planet_5 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet05.png); }
* html .planet_5 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet05.gif); }
.planet_6 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet06.png); }
* html .planet_6 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet06.gif); }
.planet_7 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet07.png); }
* html .planet_7 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet07.gif); }
.planet_8 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet08.png); }
* html .planet_8 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet08.gif); }
.planet_9 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet09.png); }
* html .planet_9 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet09.gif); }
.planet_10 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet10.png); }
* html .planet_10 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet10.gif); }
.planet_11 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet11.png); }
* html .planet_11 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet11.gif); }
.planet_12 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet12.png); }
* html .planet_12 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet12.gif); }
.planet_13 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet13.png); }
* html .planet_13 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet13.gif); }
.planet_14 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet14.png); }
* html .planet_14 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet14.gif); }
.planet_15 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet15.png); }
* html .planet_15 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet15.gif); }
.planet_16 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet16.png); }
* html .planet_16 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet16.gif); }
.planet_17 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet17.png); }
* html .planet_17 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet17.gif); }
.planet_18 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet18.png); }
* html .planet_18 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet18.gif); }
.planet_19 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet19.png); }
* html .planet_19 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet19.gif); }
.planet_20 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet20.png); }
* html .planet_20 .c-planet { background-image:url(grey_graphics/images/image.php?planets_extra_small%2fplanet20.gif); }

* html body.planet-1,* html body.planet-2,* html body.planet-3,* html body.planet-4,* html body.planet-5,* html body.planet-6,* html body.planet-7,* html body.planet-8,* html body.planet-9,* html body.planet-10,* html body.planet-11,* html body.planet-12,* html body.planet-13,* html body.planet-14,* html body.planet-15,* html body.planet-16,* html body.planet-17,* html body.planet-18,* html body.planet-19,* html body.planet-20 { background-image:none; }
