#planets { padding:0 0 250px 0 !important; }
* html #planets { padding:0 !important; }

#planets li { background-repeat:no-repeat; background-position:right center; min-height:50px; padding:.2em 1ex; }
* html #planets li { height:50px; }
#planets .planet-1 { background-image:url([image:grey_graphics/images/planets_small/planet01.png]); }
#planets .planet-2 { background-image:url([image:grey_graphics/images/planets_small/planet02.png]); }
#planets .planet-3 { background-image:url([image:grey_graphics/images/planets_small/planet03.png]); }
#planets .planet-4 { background-image:url([image:grey_graphics/images/planets_small/planet04.png]); }
#planets .planet-5 { background-image:url([image:grey_graphics/images/planets_small/planet05.png]); }
#planets .planet-6 { background-image:url([image:grey_graphics/images/planets_small/planet06.png]); }
#planets .planet-7 { background-image:url([image:grey_graphics/images/planets_small/planet07.png]); }
#planets .planet-8 { background-image:url([image:grey_graphics/images/planets_small/planet08.png]); }
#planets .planet-9 { background-image:url([image:grey_graphics/images/planets_small/planet09.png]); }
#planets .planet-10 { background-image:url([image:grey_graphics/images/planets_small/planet10.png]); }
#planets .planet-11 { background-image:url([image:grey_graphics/images/planets_small/planet11.png]); }
#planets .planet-12 { background-image:url([image:grey_graphics/images/planets_small/planet12.png]); }
#planets .planet-13 { background-image:url([image:grey_graphics/images/planets_small/planet13.png]); }
#planets .planet-14 { background-image:url([image:grey_graphics/images/planets_small/planet14.png]); }
#planets .planet-15 { background-image:url([image:grey_graphics/images/planets_small/planet15.png]); }
#planets .planet-16 { background-image:url([image:grey_graphics/images/planets_small/planet16.png]); }
#planets .planet-17 { background-image:url([image:grey_graphics/images/planets_small/planet17.png]); }
#planets .planet-18 { background-image:url([image:grey_graphics/images/planets_small/planet18.png]); }
#planets .planet-19 { background-image:url([image:grey_graphics/images/planets_small/planet19.png]); }
#planets .planet-20 { background-image:url([image:grey_graphics/images/planets_small/planet20.png]); }

#planets .active,#spionage-planet dl { background-repeat:no-repeat; background-position:center top; padding:250px 0 0 0 !important; }
.planet-1 #planets .active,#spionage-planet dl.planet_1 { background-image:url([image:grey_graphics/images/planets/planet01.png]); }
.planet-2 #planets .active,#spionage-planet dl.planet_2 { background-image:url([image:grey_graphics/images/planets/planet02.png]); }
.planet-3 #planets .active,#spionage-planet dl.planet_3 { background-image:url([image:grey_graphics/images/planets/planet03.png]); }
.planet-4 #planets .active,#spionage-planet dl.planet_4 { background-image:url([image:grey_graphics/images/planets/planet04.png]); }
.planet-5 #planets .active,#spionage-planet dl.planet_5 { background-image:url([image:grey_graphics/images/planets/planet05.png]); }
.planet-6 #planets .active,#spionage-planet dl.planet_6 { background-image:url([image:grey_graphics/images/planets/planet06.png]); }
.planet-7 #planets .active,#spionage-planet dl.planet_7 { background-image:url([image:grey_graphics/images/planets/planet07.png]); }
.planet-8 #planets .active,#spionage-planet dl.planet_8 { background-image:url([image:grey_graphics/images/planets/planet08.png]); }
.planet-9 #planets .active,#spionage-planet dl.planet_9 { background-image:url([image:grey_graphics/images/planets/planet09.png]); }
.planet-10 #planets .active,#spionage-planet dl.planet_10 { background-image:url([image:grey_graphics/images/planets/planet10.png]); }
.planet-11 #planets .active,#spionage-planet dl.planet_11 { background-image:url([image:grey_graphics/images/planets/planet11.png]); }
.planet-12 #planets .active,#spionage-planet dl.planet_12 { background-image:url([image:grey_graphics/images/planets/planet12.png]); }
.planet-13 #planets .active,#spionage-planet dl.planet_13 { background-image:url([image:grey_graphics/images/planets/planet13.png]); }
.planet-14 #planets .active,#spionage-planet dl.planet_14 { background-image:url([image:grey_graphics/images/planets/planet14.png]); }
.planet-15 #planets .active,#spionage-planet dl.planet_15 { background-image:url([image:grey_graphics/images/planets/planet15.png]); }
.planet-16 #planets .active,#spionage-planet dl.planet_16 { background-image:url([image:grey_graphics/images/planets/planet16.png]); }
.planet-17 #planets .active,#spionage-planet dl.planet_17 { background-image:url([image:grey_graphics/images/planets/planet17.png]); }
.planet-18 #planets .active,#spionage-planet dl.planet_18 { background-image:url([image:grey_graphics/images/planets/planet18.png]); }
.planet-19 #planets .active,#spionage-planet dl.planet_19 { background-image:url([image:grey_graphics/images/planets/planet19.png]); }
.planet-20 #planets .active,#spionage-planet dl.planet_20 { background-image:url([image:grey_graphics/images/planets/planet20.png]); }

#ress dt { padding-left:21px !important; background-repeat:no-repeat; background-position:2px 50%; }
#ress dt.ress-carbon { background-image:url([image:grey_graphics/images/resources/carbon.png]); }
#ress dt.ress-aluminium { background-image:url([image:grey_graphics/images/resources/aluminium.png]); }
#ress dt.ress-wolfram { background-image:url([image:grey_graphics/images/resources/wolfram.png]); }
#ress dt.ress-radium { background-image:url([image:grey_graphics/images/resources/radium.png]); }
#ress dt.ress-tritium { background-image:url([image:grey_graphics/images/resources/tritium.png]); }
#ress dt.ress-energie { background-image:url([image:grey_graphics/images/resources/energie.png]); }

* html .unbeschaeftigte-planeten .c-voriger a,* html .unbeschaeftigte-planeten .c-naechster a { width:45px; padding:0 0 0 45px; margin:0 .5ex; overflow:hidden; background-image:url([image:grey_graphics/images/fastbuild.gif]); background-repeat:no-repeat; background-position:left center; }

#css-3 { position:fixed; top:.7em; right:.7em; height:50px; width:50px; z-index:30000; border:.1em solid #aaa; padding:.5em; background-position:center center; background-repeat:no-repeat; background-color:#222; display:block; }
* html #css-3 { position:absolute; margin-right:17px; }
.planet-1 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet01.png]); }
.planet-2 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet02.png]); }
.planet-3 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet03.png]); }
.planet-4 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet04.png]); }
.planet-5 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet05.png]); }
.planet-6 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet06.png]); }
.planet-7 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet07.png]); }
.planet-8 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet08.png]); }
.planet-9 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet09.png]); }
.planet-10 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet10.png]); }
.planet-11 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet11.png]); }
.planet-12 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet12.png]); }
.planet-13 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet13.png]); }
.planet-14 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet14.png]); }
.planet-15 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet15.png]); }
.planet-16 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet16.png]); }
.planet-17 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet17.png]); }
.planet-18 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet18.png]); }
.planet-19 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet19.png]); }
.planet-20 #css-3 { background-image:url([image:grey_graphics/images/planets_small/planet20.png]); }