html,body { padding:0; margin:0; }
* html html,* html body { overflow-y:hidden; }

#time { position:absolute; left:0; border-right:.2em solid #aaa; }
#ress { position:absolute; }

#navigation { position:absolute; top:3.5em; left:1em; width:10em;  }

#content-9 { position:absolute; top:0; left:0; bottom:0; right:0; overflow:auto; }
#content-10 { margin:2.6em 0 0 12em; padding:1.1em 0 3.6em 0; }
* html #content-9 { top:0; height:100%; width:100%; left:0; padding-top:3.6em; padding-left:12em; text-align:center; }
* html #content-11 { text-align:left; }

#content-12 { position:relative; }